# venv
.venv/
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Data & models
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
models/*
!models/.gitkeep
logs/*
!logs/.gitkeep
checkpoints/
runs/

# Notebooks
.ipynb_checkpoints/

# OS/IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
